
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Password - Signature Restaurant & Green Food</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Content/global_assets/js/main/jquery.min.js"></script>
    <script src="~/Content/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/assets/js/app.js"></script>
    <!-- /theme JS files -->
</head>
<body>

    <!-- Page content -->
    <div class="page-content login-cover" style="margin-top: 0px;">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- Password recovery form -->
                @using (Html.BeginForm("PassUpdate", "Login", FormMethod.Post, new { @class = "login-form", @id = "frmtype", enctype = "multipart/form-data" }))
                {
                    <input type="hidden" id="txthfdids" name="txthfdids" />
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-plus3 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Create Password</h5>

                            </div>
                            <div class="form-group form-group-feedback form-group-feedback-right">
                                <input type="password" class="form-control" id="password" name="NewPass" placeholder="New Password">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-right">
                                <input type="password" class="form-control" id="comfpassword" name="ConfPass" placeholder="Confirm Password">
                                <div class="form-control-feedback">
                                    <i class="icon-checkmark4 text-muted"></i>
                                </div>
                            </div>
                            
                            @*<div class="form-check" style="margin: 4px -10px;">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input"  style=" margin-left: -19px; margin-top: 4px;">
                                    Show Password
                                </label>
                            </div>*@

                            <button type="submit" id="update" class="btn bg-blue btn-block"><i class="icon-spinner11 mr-2"></i> Save password</button>
                        </div>
                    </div>
                }
                <!-- /password recovery form -->
            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</body>
</html>

<script src="~/Content/validation/jquery.validate.min.js"></script>
<script src="~/Content/validation/additional-methods.min.js"></script>
<script>
    $(document).ready(function () {

        $("#frmtype").validate({

            rules:
            {
                NewPass: {
                    required: true,
                    minlength: 5
                },
                ConfPass: {
                    required: true,
                    minlength: 5,
                    equalTo: "#password"
                }
            },
            messages: {

                NewPass: {
                   required: "Please Enter New Password.",
                   minlength: "Your Password must be at least 5 Characters Long."
                },
                ConfPass: {
                   required: "Please Enter Confirm Password.",
                   minlength: "Your Password must be at least 5 Characters Long.",
                   equalTo: "Confirm Password does not Match to Password"
                }
            }

        });
    });

</script>

@*<script>
    function myFunction() {
        var x = document.getElementById("comfpassword"),
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }


    onclick="myFunction()"
</script>*@